/* ESERCIZIO 1 */
.ex-1-square:hover{
    background-color: red;

    transition: all 3s;
}

/* ESERCIZIO 2 */
.ex-2-square:active {
    width: 100%;

}

/* ESERCIZIO 3 */
.ex-3-square:hover{
    border-radius: 50%;


}

/* ESERCIZIO 4 */
.ex-4-square:hover{
    opacity: 0;

}

/* ESERCIZIO 5 */
.ex-5-square:hover{
    transform: scale(2);
    transition: all 1.5s;
}

.ex-5-square:active{
    transform: scale(.5);
    transition: all 1.5s;
}

/* ESERCIZIO 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img:hover{
    filter: grayscale(0.5);
    filter: sepia(0.5);
}

/* ESERCIZIO 8 */
.ex-8-img:hover{
    filter: grayscale(0.8);
    filter: sepia(0.8);
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img:hover{
    filter: grayscale(0.8);
    filter: sepia(0.8);
    border-radius: 20px;
    transform: scale(1.5);
}

